---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate?.valueOf() - a.data.pubDate?.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				grid-column: span 3;
			}
			/* First two posts take up 6 columns each */
			ul li:nth-child(1),
			ul li:nth-child(2) {
				grid-column: span 6;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				width: 100%;
				height: auto;
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			/* Larger title for first two posts */
			ul li:nth-child(1) .title,
			ul li:nth-child(2) .title {
				font-size: 1.8rem;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (min-width: 501px) and (max-width: 900px) {
				ul {
					gap: 1.5rem;
				}
				ul li {
					grid-column: span 4; /* 2 posts per row for medium screens */
				}
				ul li:nth-child(1),
				ul li:nth-child(2) {
					grid-column: span 6; /* Full width for first two posts */
				}
			}
			
			@media (max-width: 500px) {
				ul {
					gap: 1rem;
				}
				ul li,
				ul li:nth-child(1),
				ul li:nth-child(2) {
					grid-column: 1 / -1;
				}
				ul li:nth-child(1) .title,
				ul li:nth-child(2) .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>Stout Empire</h1>
				<p>
					We review beers. Especially dessert stout.
				</p>
			</section>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									{post.data.image && <img width={720} height={360} src={post.data.image} alt="" />}
									{!post.data.image && <img width={720} height={360} src="/placeholder.png" alt="" />}
									<h4 class="title" set:html={post.data.title} />
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
			
		</main>
		<Footer />
	</body>
</html>
